@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1a73e8;
  --color-secondary: #1a73e8;
  --color-background: #ffffff;
  --color-logoText: #ffbb00;
  --color-successText: #4caf50;
  --color-primaryButton: #ff8a65;
}

.header {
  --blue-treshold: calc(100% - 20px);
  background: linear-gradient(
    var(--color-primary),
    var(--color-primary) var(--blue-treshold),
    transparent var(--blue-treshold)
  );
}

body {
  background-color: var(--color-background);
}

section {
  margin-top: 100px;
}
/* Loader animation */
.loader {
  color: #000000;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

.profile-title {
  border-top: #1a73e8 2px solid;
  border-left: #1a73e8 2px solid;
  border-right: #1a73e8 2px solid;
  border-radius: 25px 25px 0 0;
}

/* Error message styling */
.error {
  color: red;
  font-size: 0.875rem;
  min-height: 1.25rem; 
  display: block;
}

/* Style for the date input field */
input[type="date"] {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

/* Add a visual cue for the date input */
input[type="date"]:invalid {
  background-color: #f8d7da; /* Light red background */
  border-color: #f5c6cb; /* Red border */
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
